a, a:hover { text-decoration: none; }

a:not([class]) {
  text-decoration: none;
  background-image: none;
  border-bottom: 0;
}

a:not([class]):hover {
  background-image: none;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
}

.indent { margin-left: 2rem; }
.indent-first { text-indent: 2rem; }
