// COLORS
.grey-text {
  color: #5c5c5c;
} // Grey Text
.grey-line {
  background-color: #5c5c5c;
} // Grey Line
.white-text{
  color: #ffffff;
} // White Text
.white-line {
  background-color: #ffffff;
} // White Line

// LINKS
// Page Content Link
.main-content a:hover {
  color: #ccfeff;
} // Link Hover

// Sidebar Link
.nav-list .nav-list-item .nav-list-link:hover {
  color: #ccfeff;
} // Link Hover
.nav-list .nav-list-item .nav-list-link.active {
  font-weight: 700;
} // Current Page Link

// Non-Class Link
a, a:hover {
  background-image: none;
  text-decoration: none;
} // Remove Link Underline

// TABLES
// Table List
.table-list th {
  display: none;
} // Header
.table-list td {
  border-top: 0px;
  border-bottom: 0px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-left-color: #050505;
  border-right-color: #050505;
} // Row
.table-list tbody tr:nth-child(even) td {
  background-color: #333333;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-left-color: #333333;
  border-right-color: #333333;
} // Alternating Row
