// COLORS
.grey-text {
  color: #5c5c5c;
} // Grey Text
.grey-line {
  background-color: #5c5c5c;
} // Grey Line
.white-text{
  color: #ffffff;
} // White Text
.white-line {
  background-color: #ffffff;
} // White Line

// LINKS
// Page Content Link
.main-content a:hover {
  color: #ccfeff;
} // Link Hover

// Sidebar Link
.nav-list .nav-list-item .nav-list-link:hover {
  color: #ccfeff;
} // Link Hover
.nav-list .nav-list-item .nav-list-link.active {
  font-weight: 700;
} // Current Page Link

// TABLES
// Table List
.table-list th {
  display: none;
} // Header
.table-list td {
  background-color: #050505;
  border: 4px solid #050505;
  border-collapse: collapse;
  border-spacing: 0;
} // Row
.table-list tbody tr:nth-child(even) td {
  background-color: #141414;
  border: 4px solid #141414;
  border-collapse: collapse;
  border-spacing: 0;
} // Alternating Row

// THEME
// Borders, Dividers, Lines
.site-header {
  border-bottom-color: #020202;
} // Sidebar Border

// Remove Link Underline
a {
  background-image: none;
  text-decoration: none;
} // Remove Link Underline
