// TABLES

// Table List
.table-list thead {
  display: none;
} // No Header
.zebra td {
  background-color: #ffffff;
} // Base Row Color
.table-list tbody tr:nth-child(even) td {
  background-color: #f5f6fa;
} // Alternate Row Color
