$base-button-color: #141514; // Button Background
$body-background-color: #0d0d0d; // Background
$body-heading-color: #ffffff; // Headings
$body-text-color: #ffffff; // Paragraph
$border-color: #ffffff; // Borders & Lines
$btn-primary-color: #141514;	//Primary Button Background
$code-background-color: #060606;	// Code Block Background
$code-linenumber-color: #dcaa78; // Code Block Numbers
$feedback-color: #242424; // Sidebar Hover
$link-color: #dcaa78; // Link
$nav-child-link-color: #ffffff; // Child Page Link
$search-background-color: #060606; // Search Bar
$search-result-preview-color: #ffffff; // Search Results
$sidebar-color: #060606; // Sidebar Background
$table-background-color: #0d0d0d; // Table Background
