$base-button-color: ; // Button Background
$body-background-color: ; // Background
$body-heading-color: ; // Headings
$body-text-color: ; // Paragraph
$border-color: ; // Borders & Lines
$btn-primary-color: ;	// Primary Button Background
$code-background-color: ;	// Code Block Background
$code-linenumber-color: ; // Code Block Numbers
$feedback-color: ; // Sidebar Hover
$link-color: ; // Link
$nav-child-link-color: ; // Child Page Link
$search-background-color: ; // Search Bar
$search-result-preview-color: ; // Search Results
$sidebar-color: ; // Sidebar Background
$table-background-color: ; // Table Background
