$body-background-color: #f4ead5; // Background
$body-heading-color: #2a1a10; // Headings
$body-text-color: #3b2a1e; // Paragraph
$link-color: #9b1c1c; // Link
$nav-child-link-color: #6b4a32; // Child Page Link
$sidebar-color: #ebdcbc; // Sidebar Background
$border-color: #cdb98f; // Borders & Lines
$base-button-color: #e3d2aa; // Button Background
$btn-primary-color: #8b1a1a;	// Primary Button Background
$code-background-color: #e6d7b4;	// Code Block Background
$table-background-color: #f8f0de; // Table Background
$search-background-color: #f8f0de; // Search Bar
$search-result-preview-color: #6b4a32; // Search Text
$feedback-color: #ebdcbc; // Sidebar Hover
